<nav class="navbar navbar-expand-lg navbar-dark has-background-black-bis" style="z-index: 0">
    <a class="" href="{{ path('home') }}" style="width: 75px">
        <img src="{{ asset('build/images/vinny_logo_circulo.df62343d.png') }}" alt="logo" title="logo" decoding="auto">
    </a>

    <button id="nav-icon3" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>


    <div class="collapse navbar-collapse has-text-centered" id="navbarNav">
        <ul class="navbar-nav is-size-1-touch is-size-3-desktop mr-auto">

            <li class="nav-item">
                <a href="{{ path('about') }}" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('beats') }}" class="nav-link">
                    Beats
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('videos') }}" class="nav-link">
                    Videos
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('licenses') }}" class="nav-link">
                    Licenses
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">
                    Contact
                </a>
            </li>
        </ul>


        {% block navbarend %}

        <div class="navbar-nav is-size-1-touch is-size-3-desktop">

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('easyadmin') }}" class="nav-link" id="dashboard">
                    Dashboard
                </a>

                <a href="{{ path('admin_app_logout') }}" class="nav-link" id="deco">
                    Log out
                </a>
            {% else %}
                <a href="{{ path('admin_login') }}" class="nav-link">
                    Log in
                </a>
            {% endif %}

            {% endblock %}


    </div>


</nav>

