<nav class="navbar navbar-expand-lg navbar-dark has-background-black-bis" style="z-index: 1">

    <a id="logo-header-vinny" href="{{ path('home') }}">
        <img src="{{ asset('build/images/logo_vinny_letra_2.620e7de0.png') }}" alt="logo" title="VinnyVixi" decoding="auto">
    </a>

    <div class="header-background-image" style="background: center / cover no-repeat url({{ asset('build/images/studio.57748376.png') }});box-shadow: 0px 0px 30px 10px black;">
        <div class="header-background-layer">
        </div>
    </div>


    {% block social_network %}
    <div class="is-hidden-touch" style="display:flex;position: absolute;right:0;top: 0;height: auto;width: auto;justify-content: center;align-items: center">

            <div class="column is-flex justify-content-center align-items-center">
                <div class="g-ytsubscribe" data-channelid="UC2aIv87FmBdtEJcj3DVYryQ" data-layout="default" data-theme="dark" data-count="default"></div>
            </div>

            <div class="column is-flex justify-content-center align-items-center">
                <a href="https://twitter.com/VinnyVixi?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @VinnyVixi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

    </div>
    {% endblock %}



    <button id="nav-icon3" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="border: none;outline: none;margin: 0px;height: 50px">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>


    <div class="collapse navbar-collapse has-text-centered" id="navbarNav">
        <ul class="navbar-nav is-size-2-touch is-size-4 mr-auto">

            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link" title="Beats by Vinny">
                    Beats
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('videos') }}" class="nav-link" title="Videos">
                    Videos
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('licenses') }}" class="nav-link" title="Licenses">
                    Licenses
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('about') }}" class="nav-link" title="About Vinny">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link" title="Contact Vinny">
                    Contact
                </a>
            </li>
        </ul>


        {% block navbarend %}

            {% if is_granted('ROLE_USER') %}
            <div class="navbar-nav is-size-2-touch is-size-4" style="white-space: nowrap;">

                    <a href="{{ path('easyadmin') }}" class="nav-link" id="dashboard" style="text-shadow: none">
                        Dashboard
                    </a>

                    <a href="{{ path('admin_app_logout') }}" class="nav-link" id="deco" style="text-shadow: none">
                        Log out
                    </a>
            </div>
            {% endif %}

        {% endblock %}
    </div>

</nav>

