<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="" href="{{ path('home') }}">
        <img src="{{ asset('build/images/vinny_logo_circulo.df62343d.png') }}" alt="" width="150">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse has-text-centered" id="navbarNav">
        <ul class="navbar-nav is-size-4 mr-auto">

            <li class="nav-item">
                <a href="{{ path('about') }}" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('beats') }}" class="nav-link">
                    Beats
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('videos') }}" class="nav-link">
                    Videos
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('licences') }}" class="nav-link">
                    Licences
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">
                    Contact
                </a>
            </li>
        </ul>


        {% block navbarend %}
        {% endblock %}


    </div>
</nav>

