<nav class="navbar navbar-expand-lg navbar-dark has-background-black-bis" style="z-index: 0">
    <a id="logo-header-vinny" href="{{ path('home') }}">
        <img src="{{ asset('build/images/logo_vinny_letra_2.a861ac20.png') }}" alt="logo" title="VinnyVixi" decoding="auto">
    </a>

    <button id="nav-icon3" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="border: none;outline: none;margin: 0 50px;height: 50px">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>


    <div class="collapse navbar-collapse has-text-centered has-text-weight-bold" id="navbarNav">
        <ul class="navbar-nav is-size-2-touch is-size-5 mr-auto">

            <li class="nav-item">
                <a href="{{ path('beats') }}" class="nav-link">
                    Beats
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('videos') }}" class="nav-link">
                    Videos
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('licenses') }}" class="nav-link">
                    Licenses
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('about') }}" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">
                    Contact
                </a>
            </li>
        </ul>


        {% block navbarend %}

        <div class="navbar-nav is-size-2-touch is-size-5" style="white-space: nowrap;">

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('easyadmin') }}" class="nav-link" id="dashboard">
                    Dashboard
                </a>

                <a href="{{ path('admin_app_logout') }}" class="nav-link" id="deco">
                    Log out
                </a>
            {% endif %}

            {% endblock %}


    </div>


</nav>

