{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Videos{% endblock %}

{% block description %}
    <meta name="description" content="Browse the list of clips and other YouTube videos. Parcourrez la liste des clips et autre vidéos Youtube.">
{% endblock %}

{% block titre_landscape %}
    Videos
{% endblock %}

{% block titre %}
    Videos
{% endblock %}

{% block video_lightbox %}
    {% for video in video %}
        {% include 'lightbox/video_lightbox.html.twig' %}
    {% endfor %}
{% endblock %}

{% block section_bg %}background:center / cover no-repeat url('{{ asset('build/images/video_3.7ae7ba12.jpg')}}'){% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        Watch, Like and share my multiple Beats also available on my
        <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link has-text-weight-bold" title="vinnyvixi's youtube channel">
        <span class="icon">
            <i  class="fab fa-youtube"></i>
        </span>Youtube
        </a>
        channel
    </h2>
{% endblock %}

{% block img_header %}
    <div class="header-background-image" style="background: center / auto 100% no-repeat url({{ asset('build/images/video_2.f0738e0b.png') }});box-shadow: 0px 0px 30px 10px black;">
        <div class="header-background-layer">
        </div>
    </div>
{% endblock %}

{% block content %}

        <div class="pagination" style="justify-content: center">
            {{ knp_pagination_render(video) }}
        </div>

            {% for sectionvideo in section %}

                <div class="column" style="background: rgba(0,0,0,0);box-shadow: rgb(0, 0, 0) 0px 0px 15px;margin-bottom: 20px">

                    <label class="label columns is-centered" style="position: relative">

                        <h2 class="column text-uppercase has-text-white {% if sectionvideo.couleur %}bg-{{ sectionvideo.couleur }}{% else %}has-background-dark{% endif %} has-text-centered justify-content-center align-items-center" style="margin-bottom: 0">

                            <p class="has-background-black has-icons-left has-text-weight-bold is-family-code" style="display: flex;justify-content: center;align-items: center;padding: 10px; margin-bottom: 0;color: white;text-shadow: rgb(0, 40, 255) 0px 0px 15px;">

                            <span class="icon is-normal is-hidden-touch {% if sectionvideo.couleur %}text-{{ sectionvideo.couleur }}{% else %}has-text-grey{% endif %}" style="margin:0 10px;position:absolute;left: 25px">
                                <i class="fa fa-film fa-2x"></i>
                            </span>

                                {{ sectionvideo.titre }}

                            </p>

                        </h2>

                    </label>



                    <div class="columns is-multiline justify-content-center" style="background: rgba(0,0,0,0.8)">


                            {% for video in video %}

                                {% if video.section == sectionvideo.titre %}

                                    <div class="column is-one-third is-full-touch has-text-centered">

                                        {% if video.titre is not null %}
                                            <label style="align-items: center;min-height:30px;overflow: hidden;margin: 0" for="titre" title="{{ video.titre }}" class="is-flex justify-content-center align-items-center has-text-black has-text-weight-bold bg-{{ sectionvideo.couleur }}">
                                                {{ video.titre }}
                                            </label>
                                        {% else %}
                                            <label style="align-items: center;min-height:30px;margin: 0" for="titre" title="no title" class="is-flex justify-content-center align-items-center has-text-black has-text-weight-bold bg-{{ sectionvideo.couleur }}">
                                                ~
                                            </label>
                                        {% endif %}

                                            <figure class="is-flex justify-content-center align-items-center showVideo" id="showVideo-{{ video.id }}" style="background: #121212;margin: 0;position: relative">
                                                <img src="https://img.youtube.com/vi/{{ video.link }}/hqdefault.jpg" alt="" style="height:auto;" class="img-youtube">
                                                <span class="icon is-large {% if sectionvideo.couleur %}text-{{ sectionvideo.couleur }}{% else %}has-text-grey{% endif %} span-youtube" id="span-youtube-{{ video.id }}" style="position: absolute;height: 100%;width: 100%;transition: 0.2s">
                                                    <i class="fas fa-play-circle youtube-video-class" id="youtube-{{ video.id }}" style="opacity: 1;border-radius: 0.5rem;transition: 0.2s"></i>
                                                </span>
                                            </figure>

                                        {% if video.info is not null %}
                                            <label style="font-weight: 400;align-items: center;min-height:30px;overflow: hidden;margin: 0"  for="titre" title="{{ video.info }}" class="is-flex justify-content-center has-text-black bg-{{ sectionvideo.couleur }}">
                                                {{ video.info }}
                                            </label>
                                        {% else %}
                                            <label style="font-weight: 400;align-items: center;min-height:30px;margin: 0;" for="titre" title="no info" class="is-flex justify-content-center has-text-black bg-{{ sectionvideo.couleur }}">
                                                ~
                                            </label>
                                        {% endif %}

                                    </div>

                                {% endif %}

                                {#   SCRIPT POUR LIGHTBOX video   #}
                                <script>

                                    $("#showVideo-{{ video.id }}").mouseover(function () {
                                        $("#youtube-{{ video.id }}").css('opacity', '0.9');
                                        $("#span-youtube-{{ video.id }}").css('background-color', 'rgba(0,0,0,0)');
                                    });
                                    $("#showVideo-{{ video.id }}").mouseleave(function () {
                                        $("#youtube-{{ video.id }}").css('opacity', '1');
                                        $("#span-youtube-{{ video.id }}").css('background-color', 'rgba(0,0,0,0.7)');
                                    });

                                    $("#showVideo-{{ video.id }}").click(function() {
                                        //OPEN LIGHTBOX//
                                        $("#video-lightbox-{{ video.id }}").css("display","flex");
                                    });

                                    $(".video-lightbox-close").click(function() {
                                        //STOP VIDEO//
                                        $('#{{ video.id }}').each(function(index) {
                                            $(this).attr('src', $(this).attr('src'));
                                            return false;
                                        });
                                        //HIDE LIGHTBOX//
                                        $("#video-lightbox-{{ video.id }}").css("display","none");
                                    });

                                    $(".video-lightbox-background").click(function() {
                                        //STOP VIDEO//
                                        $('#{{ video.id }}').each(function(index) {
                                            $(this).attr('src', $(this).attr('src'));
                                            return false;
                                        });
                                        //HIDE LIGHTBOX//
                                        $("#video-lightbox-{{ video.id }}").css("display","none");
                                    });

                                </script>
                                {#  FIN SCRIPT POUR LIGHTBOX video   #}

                            {% endfor %}

                    </div>

                </div>

            {% endfor %}

{#    {% endif %}#}

    <div class="pagination" style="justify-content: center">
        {{ knp_pagination_render(video) }}
    </div>


    <script>
        let navLinkVideos = document.getElementById('navLinkVideos');
        navLinkVideos.classList.add("navlink-active");
    </script>


{% endblock %}
