{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Videos{% endblock %}

{% block titre %}
    Videos
{% endblock %}

{% block content %}



            {% for sectionvideo in section %}
                <div class="column box" style="background: rgba(0,0,0,0)">

                    <label class="label columns is-centered">
                        <h2 class="column text-uppercase has-text-white has-background-{{ sectionvideo.couleur }} has-text-centered justify-content-center align-items-center" style="margin-bottom: 0">

                            <p class="has-background-black-bis has-icons-left is-family-code is-size-2" style="padding: 10px; margin-bottom: 0">

                            <span class="icon is-small has-text-{{ sectionvideo.couleur }}" style="margin:0 10px">
                                <i class="fab fa-youtube-square"></i>
                            </span>

                                {{ sectionvideo.titre }}

                            </p>

                        </h2>

                    </label>

                    <div class="columns is-multiline" style="background: rgba(0,0,0,0.4)">
                    {% for video in video %}

                        {% if video.section == sectionvideo.titre %}

                            <div class="column is-one-third is-full-touch has-text-centered">

                                    <label for="titre" title="titre video" class="has-text-weight-bold is-flex justify-content-center has-text-white-bis has-background-black-bis">
                                        {{ video.titre }}
                                    </label>

                                    {% if video.link %}
                                        {#Resolutions :
                                            240p = 352 x 240
                                            360 p = 480 x 360
                                            480p = 858 x 480 — also known as SD
                                            720p = 1280 x 720 — the old TVs of this resolution were marked HDready
                                            1080p = 1920 x 1080 — FullHD
                                            2160p = 3860 x 2160 —Ultra-HD, also known as 4K (that’s a marketing trick)
                                        #}
                                    <figure class="is-flex justify-content-center align-items-center" style="background: #121212">
                                        <iframe width="352px" height="240px" src="https://www.youtube.com/embed/{{ video.link }}" title="video">
                                        </iframe>
                                    </figure>

                                    {% else %}
                                        <figure style="background: rgba(0,0,0,0.2)">
                                            <img src="{{ asset('build/images/vinny_logo_reducidisimo.e28edbc4.png') }}" alt="no video link" title="no video" style="height:240px;">
                                        </figure>
                                    {% endif %}
{#                                </div>#}
                            </div>

                        {% endif %}

                    {% endfor %}

                    </div>

                </div>
            {% endfor %}




{% endblock %}
