{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Videos{% endblock %}

{% block description %}
    <meta name="description" content="Browse the list of clips and other YouTube videos. Parcourrez la liste des clips et autre vidéos Youtube.">
{% endblock %}

{% block titre_landscape %}
    Videos
{% endblock %}

{% block titre %}
    Videos
{% endblock %}

{% block content %}

    {% if section is empty %}

        {{ include('includes/comming_soon.html.twig') }}

    {% elseif video is empty %}

        {{ include('includes/comming_soon.html.twig') }}

    {% else %}

        <div class="pagination" style="justify-content: center">
            {{ knp_pagination_render(video) }}
        </div>

            {% for sectionvideo in section %}

                <div class="column" style="background: rgba(0,0,0,0);box-shadow: rgb(0, 0, 0) 0px 0px 15px;margin-bottom: 20px">

                    <label class="label columns is-centered">
                        <h2 class="column text-uppercase has-text-white {% if sectionvideo.couleur %}has-background-{{ sectionvideo.couleur }}{% else %}has-background-dark{% endif %} has-text-centered justify-content-center align-items-center" style="margin-bottom: 0">

                            <p class="has-background-black-bis has-icons-left is-family-code is-size-3" style="padding: 10px; margin-bottom: 0">

                            <span class="icon is-small {% if sectionvideo.couleur %}has-text-{{ sectionvideo.couleur }}{% else %}has-text-grey{% endif %}" style="margin:0 10px">
                                <i class="fa fa-film"></i>
                            </span>

                                {{ sectionvideo.titre }}

                            </p>

                        </h2>

                    </label>



                    <div class="columns is-multiline justify-content-center" style="background: rgba(0,0,0,0.4)">


                            {% for video in video %}

                                {% if video.section == sectionvideo.titre %}

                                    <div class="column is-one-third is-full-touch has-text-centered">

                                        {% if video.titre is not null %}
                                            <label style="align-items: center;min-height:30px;overflow: hidden;margin: 0" for="titre" title="{{ video.titre }}" class="is-flex justify-content-center align-items-center has-text-white-bis has-background-black-bis is-size-3-touch">
                                                {{ video.titre }}
                                            </label>
                                        {% else %}
                                            <label style="align-items: center;min-height:30px;margin: 0" for="titre" title="no title" class="is-flex justify-content-center align-items-center has-text-white-bis has-background-black-bis is-size-3-touch">
                                                ~
                                            </label>
                                        {% endif %}

                                            {% if video.link %}

                                            <figure class="is-flex justify-content-center align-items-center" style="background: #121212;margin: 0;">
                                                {#<iframe width="100%" height="240px" src="https://www.youtube-nocookie.com/embed/{{ video.link }}?end=0&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light&color=white&disablekb=1" frameborder="0" title="video">
                                                </iframe>#}
                                                <iframe width="100%"
                                                        height="240px"
                                                        src="https://www.youtube-nocookie.com/embed/{{ video.link }}?end=0&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light&color=white&disablekb=1"
                                                        frameborder="0"
                                                        title="video"
                                                        allowfullscreen="allowfullscreen"
                                                        mozallowfullscreen="mozallowfullscreen"
                                                        msallowfullscreen="msallowfullscreen"
                                                        oallowfullscreen="oallowfullscreen"
                                                        webkitallowfullscreen="webkitallowfullscreen">
                                                </iframe>
                                            </figure>

                                            {% else %}
                                                <figure style="background: rgba(0,0,0,0.2);margin: 0;">
                                                    <img src="{{ asset('build/images/vinny_logo_reducidisimo.e28edbc4.png') }}" alt="no video link" title="no video" style="height:240px;">
                                                </figure>
                                            {% endif %}

                                        {% if video.info is not null %}
                                            <label style="align-items: center;min-height:30px;overflow: hidden;margin: 0"  for="titre" title="{{ video.info }}" class="has-text-weight-light is-flex justify-content-center has-text-white-bis has-background-black-bis is-size-3-touch">
                                                {{ video.info }}
                                            </label>
                                        {% else %}
                                            <label style="align-items: center;min-height:30px;margin: 0;" for="titre" title="no info" class=" is-flex justify-content-center has-text-white-bis has-background-black-bis is-size-3-touch">
                                                ~
                                            </label>
                                        {% endif %}

                                    </div>

                                {% endif %}

                            {% endfor %}

                    </div>

                </div>
            {% endfor %}
    {% endif %}

    <div class="pagination" style="justify-content: center">
        {{ knp_pagination_render(video) }}
    </div>


    {#   SCRIPT POUR LIGHTBOX video   #}
    <script>
        $(".showVideo").click(function() {
            // $(".modal").addClass("is-active");
            $(".license-lightbox").css("height","100%");
        });

        $(".license-lightbox-modal-close").click(function() {
            // $(".modal").removeClass("is-active");
            $(".license-lightbox").css("height","0");
        });

        $(".license-lightbox-modal-background").click(function() {
            // $(".modal").removeClass("is-active");
            $(".license-lightbox").css("height","0");
        });

    </script>
    {#  FIN SCRIPT POUR LIGHTBOX video   #}


{% endblock %}
