{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Ajouter un beat{% endblock %}

{% block content %}


    <section class="section is-flex" style="justify-content: center;">

        <div class="container column is-full-touch is-two-fifths-desktop is-one-fifth-fullhd">



            {{ form_start(addBeatForm) }}

            <div class="columns is-centered">
                {% include 'includes/flash_message.html.twig' %}
            </div>

            <div class="field">
                <label class="label">Beat name</label>

                <div class="">

                    {{ form_row(addBeatForm.beatName, {'attr' : {'class' : 'input', 'alt' : 'beat name'}
                    }) }}

                </div>

            </div>

            <div class="field">
                <label class="label">Titre</label>

                <div class="">

                    {{ form_row(addBeatForm.titre, {'attr' : {'class' : 'input', 'alt' : 'titre'}
                    }) }}

                </div>

            </div>

            <div class="field">
                <label class="label">Artiste</label>

                <div class="">

                    {{ form_row(addBeatForm.artiste, {'attr' : {'class' : 'input', 'alt' : 'artiste'}
                    }) }}

                </div>

            </div>

            <div class="field">
                <label class="label">Album</label>

                <div class="">

                    {{ form_row(addBeatForm.album, {'attr' : {'class' : 'input', 'alt' : 'album'}
                    }) }}

                </div>

            </div>

            <div class="field">
                <label class="label">Genre</label>

                <div class="">

                    {{ form_row(addBeatForm.genre, {'attr' : {'class' : 'input', 'alt' : 'genre'}
                    }) }}

                </div>

            </div>

            <div class="field is-flex" style="justify-content: center">
                <button class="button is-info">Ajouter</button>
            </div>

            {{ form_end(addBeatForm) }}

        </div>

    </section>

{% endblock %}