{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Reset password{% endblock %}

{% block description %}
    <meta name="description" content="Admin registration page. Page d'inscription administrateur.">
{% endblock %}

{% block titre_landscape %}
    Password
{% endblock %}

{% block titre %}
    Password
{% endblock %}

{% block content %}

    <section class="section is-flex" style="justify-content: center;">

        <div class="container column is-full-touch is-four-fifths-desktop is-two-fifths-fullhd">


            {{ form_start(reset_form) }}

            <div class="field has-text-centered">
                <h1 class="is-size-2-touch">Réinitialisation de votre mot de passe</h1>
            </div>

            {% include 'includes/flash_message.html.twig' %}

            {% if form_errors(reset_form) != null %}
                <div class="form-error notification is-danger is-size-3-touch">
                    <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                    {{ form_errors(reset_form) }}
                </div>
            {% endif %}


            <div class="field">
                <label class="label">Entrez votre nouveau mot de passe *</label>
                <div class="control">
                    {{ form_row(reset_form.plainPassword.first, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input', 'alt' : 'password'}
                    }) }}
                </div>
            </div>


            <div class="field">
                <label class="label">Comfirmez votre nouveau mot de passe *</label>
                <div class="control">
                    {{ form_row(reset_form.plainPassword.second, {'attr' : {'class' : 'input', 'placeholder' : 'Répétez votre mot de passe', 'class' : 'input', 'alt' : 'confirm password'}
                    }) }}
                </div>
            </div>

            <div class="field is-flex" style="justify-content: center">
                <button class="button is-info" type="submit">Valider</button>
            </div>


            {{ form_end(reset_form) }}
        </div>

    </section>

{% endblock %}