<div id="carouselExampleIndicators" class="carousel slide is-hidden-mobile" data-ride="carousel">
    <ol class="carousel-indicators" style="z-index: 1">

        {% for diapo in diapo %}
            <li data-target="#carouselExampleIndicators" data-slide-to="
            {% if loop.index0 == 0 %}
                0" class="active">
            {% else %}
                {{ loop.index0 }}">
            {% endif %}
            </li>
        {% endfor %}

    </ol>

    <div class="carousel-inner is-size-4 is-size-5-touch">

        {% for diapo in diapo %}
            {% if loop.index0 == 0 %}

            <div class="carousel-item active">
            {% if diapo.diapoimagename %}
                <img class="d-block w-100" src="{{ vich_uploader_asset(diapo, 'diapoImage') }}" alt="First slide">
            {% else %}
                <img class="d-block w-100" src="{{ asset('build/images/BM.09ac0c25.jpg') }}" alt="slide">
            {% endif %}
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                    <h5 class="is-size-3">{{ diapo.titre }}</h5>
                    <p>{{ diapo.texte }}</p>
                </div>
            </div>

            {% else %}

                <div class="carousel-item">
                    {% if diapo.diapoimagename %}
                        <img class="d-block w-100" src="{{ vich_uploader_asset(diapo, 'diapoImage') }}" alt="slide">
                    {% else %}
                        <img class="d-block w-100" src="{{ asset('build/images/BM.09ac0c25.jpg') }}" alt="slide">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                        <h5 class="is-size-3">{{ diapo.titre }}</h5>
                        <p>{{ diapo.texte }}</p>
                    </div>
                </div>

            {% endif %}

        {% endfor %}


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>




