{% for beat in beat %}

<tr>
    <td>{{ beat.beatname }}</td>
    <td>{{ beat.titre }}</td>
    <td>{{ beat.artiste }}</td>
    <td>{{ beat.album }}</td>
    <td>{{ beat.genre }}</td>
</tr>

{% endfor %}

