{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block description %}
    <meta name="description" content="Feel free to chat with me by filling the form down below. N'hésitez pas à discuter avec moi en remplissant le formulaire ci-dessous">
{% endblock %}


{% block titre_landscape %}
    {% trans %}Contact{% endtrans %}
{% endblock %}

{% block titre %}
    {% trans %}Contact{% endtrans %}
{% endblock %}

{% block section_bg %}background:top / cover no-repeat url('{{ asset('build/images/contact_hands_edited_resized_2.748d90e6.jpg')}}'){% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary  has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        {% trans %}Feel free to chat with me by  filling the form down below{% endtrans %}
    </h2>
{% endblock %}

{% block img_header %}
    <div class="header-background-image" style="background: center / auto 100% no-repeat url({{ asset('build/images/contact_hands_edited_resized.074711fb.jpg') }});box-shadow: 0 0 30px 10px black;">
        <div class="header-background-layer">
        </div>
    </div>
{% endblock %}


{% block content %}

            {% include 'includes/flash_message.html.twig' %}

            {% if form_errors(messageForm) != null %}
                <div class="form-error notification is-danger is-flex justify-content-center align-items-center column has-text-weight-bold ">
                    <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                    {{ form_errors(messageForm) }}
                </div>
            {% endif %}

            {{ form_start(messageForm) }}


            <div class="column is-flex box justify-content-around" style="background: rgba(0,0,0,0.8);box-shadow: rgb(0, 0, 0) 0px 0px 15px;position: relative">

                <article class="column is-half-desktop has-text-centered">

                    <div class="field">
                        <label class="label  has-text-white">{% trans %}Last name{% endtrans %}</label>
                        <div class="control has-icons-left ">
                            {% set placeholderName = 'My name'|trans %}
                            {{ form_widget(messageForm.nom, {'attr' : { 'class' : ' input','title' : 'Last name', 'placeholder' : placeholderName, 'alt' : 'Last name'}
                            }) }}
                            <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-male"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label  has-text-white">{% trans %}First name{% endtrans %}</label>
                        <div class="control has-icons-left ">
                            {% set placeholderFirstName = 'My first name'|trans %}
                            {{ form_widget(messageForm.prenom, {'attr' : { 'class' : ' input','title' : 'First name', 'placeholder' : placeholderFirstName, 'alt' : 'First name'}
                            }) }}
                            <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>

                    </div>

                    <div class="field">
                        <label class="label  has-text-white">{% trans %}Email{% endtrans %} *</label>
                        <div class="control has-icons-left ">
                            {% set placeholderEmail = 'ex : mymail@gmail.com'|trans %}
                            {{ form_widget(messageForm.email, {'attr' : { 'class' : ' input','title' : 'Email *', 'placeholder' : placeholderEmail, 'alt' : 'email'}
                            }) }}
                            <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-envelope"></i>
                            </span>

                        </div>

                    </div>

                    <div class="field">
                        <label class="label  has-text-white">{% trans %}Subject{% endtrans %}</label>
                        <div class="control has-icons-left ">
                            {% set placeholderSubject = 'Enter the subject'|trans %}
                            {{ form_widget(messageForm.objet, {'attr' : { 'class' : ' input','title' : 'Subject', 'placeholder' : placeholderSubject, 'alt' : 'subject'}
                            }) }}
                            <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-hashtag"></i>
                            </span>
                        </div>

                    </div>

                    <div class="field">
                        <label class="label  has-text-white">{% trans %}Message{% endtrans %} *</label>
                        <div class="control">
                            {% set placeholderMessage = 'My message'|trans %}
                            {{ form_widget(messageForm.message, {'attr' : { 'class' : ' textarea ','title' : 'Message *', 'placeholder' : placeholderMessage, 'alt' : 'message'}
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-white"></label>
                        <div class="control" style="display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                            ">
                            {{ form_widget(messageForm.captchaCode, {'attr': {'class': 'input is-primary'}}) }}
                        </div>
                    </div>

                    <div class="field is-grouped justify-content-center" title="Submit">
                        <div class="control">
                            <button class="button is-info " type="submit">{% trans %}Submit{% endtrans %}</button>
                        </div>
                    </div>

                </article>
            </div>

            {{ form_end(messageForm) }}



    <script>
        let navLinkContact = document.getElementById('navLinkContact');
        navLinkContact.classList.add("navlink-active");
    </script>

{% endblock %}

