<div class="container" id="app">
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content" style="border-radius: 0px;background: none">

                        <div class="modal-body">
                            <div class="pricing-table columns">

                                {% for licence in licence %}
                                    <div class="pricing-plan is-{{ licence.color }} is-full-touch is-1 column" style="padding: 0;border:none;border-radius: 0px">
                                        <div class="plan-header has-background-{{ licence.color }} has-text-white text-uppercase is-size-3-touch is-size-6" style="border-radius: 0px">{{ licence.titre }}</div>
                                        <div class="plan-price">

                                            {% if licence.dollar or licence.euro %}
                                                <span class="plan-price-amount is-size-3-desktop"><span class="plan-price-currency is-family-secondary has-text-grey-light">$</span>{{ licence.dollar }}</span>
                                            {% else %}
                                                <span class="plan-price-amount is-size-3-desktop">~</span>
                                            {% endif %}
                                        </div>

                                        <div class="plan-items is-size-6 is-size-3-touch">

                                            {% if licence.info1 %}
                                                <div class="plan-item">{{ licence.info1 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                            {% if licence.info2 %}
                                                <div class="plan-item">{{ licence.info2 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                            {% if licence.info3 %}
                                                <div class="plan-item">{{ licence.info3 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                            {% if licence.info4 %}
                                                <div class="plan-item">{{ licence.info4 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                            {% if licence.info5 %}
                                                <div class="plan-item">{{ licence.info5 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                            {% if licence.info6 %}
                                                <div class="plan-item">{{ licence.info6 }}</div>
                                            {% else %}
                                                <div class="plan-item">-</div>
                                            {% endif %}

                                        </div>

                                        <div class="plan-footer">
                                            <a title="Contact Vinnyvixi" href="{{ path('contact') }}" class="button is-fullwidth has-text-weight-bold has-text-white is-size-3-touch" style="border-radius: 0px;">click for next step</a>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
        </div>
        <button class="modal-close is-large"></button>
    </div>
</div>