
{% include 'index.html.twig' %}

        {% block description %}

        {% endblock %}

        <title>{% block title %}Vinny Vixi Prod.{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.1/plyr.css" />
        <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/vinny_logo_circulo_favicon.ec1beae4.png') }}"/>
        <link rel="icon" href="{{ asset('build/images/vinny_logo_circulo_favicon.ec1beae4.png') }}" type="image/png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script src="https://cdn.plyr.io/3.6.1/plyr.polyfilled.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



        {% block fonts %}
            <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;500;900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block css %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>


    <body class="has-background-white-bis">
        {% block body %}

            <div style="z-index: 2;position: sticky;top: 0;">
                {% block header %}

                    <h2 class="titre-landscape title has-text-weight-bold is-uppercase is-family-monospace" style="color: white;text-shadow:rgb(0, 63, 255) 0px 0px 15px;position: absolute;z-index: 3;left: 50%;transform: translate(-50%);display: none;justify-content: center;align-items: center;">

                        {% block titre_landscape %}

                        {% endblock %}

                    </h2>


                    {% include('includes/header/header.html.twig') %}


                        <section class="titre-wave" style="z-index:1;background:#121212 center / 100% 100% no-repeat url('{{ asset('build/images/audio_bars.62a6b06d.png')}}');width: 100%">
                            <div class="has-text-centered" style="position: relative">

                                    <h1 class="title has-text-weight-bold is-uppercase is-family-monospace is-size-2-touch" style="color: white;text-shadow:rgb(0, 63, 255) 0px 0px 15px;margin:0;position: relative;z-index: 3">

                                        {% block titre %}

                                        {% endblock %}

                                    </h1>

                                {% block visualizer %}
                                {% endblock %}

                            </div>

                        </section>

                    {% block audiocontrol %}

                            <div style="box-shadow: black 0 0 20px 1px;background: #121212;width: 100%;height: 5px;">

                            </div>

                    {% endblock %}


                    {% block filtre %}
                    {% endblock %}

                {% endblock %}
            </div>


            {% block video_lightbox %}

            {% endblock %}



            <div style="position:fixed;top:0;width: 100%;min-height: 100vh;background:center / cover no-repeat url('{{ asset('build/images/headphones.64ab74be.jpg')}}')">
                <div class="layer" style="height: 100vh;width: 100vw; background: rgb(255,255,255);
                                                                    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.748319396117822) 20%, rgba(203,224,255,0.499019676229867) 50%, rgba(255,255,255,0.748319396117822) 80%);
                                                                    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.748319396117822) 20%, rgba(203,224,255,0.499019676229867) 50%, rgba(255,255,255,0.748319396117822) 80%);
                                                                    background: linear-gradient(180deg, rgba(255,255,255,0.748319396117822) 20%, rgba(203,224,255,0.499019676229867) 50%, rgba(255,255,255,0.748319396117822) 80%);
                                                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); ">

                </div>
            </div>






            <section class="is-flex justify-content-center" style="min-height: 70vh;position:relative;margin-bottom: 100px">

                <div class="column is-full-touch is-four-fifths is-size-3-touch">

                    {% block entete %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                </div>

                </section>


            {% block arrow_up %}
                <div class="arrow_up">

                    <a href="#top" class="is-flex align-items-center justify-content-center" style="width: 100%;height: 100%;">
                    <span class="icon justify-content-center align-items-center is-size-4 is-size-1-touch">
                        <i class="fas fa-angle-up" style="color: rgba(255, 255, 255, 0.3);"></i>
                    </span>
                    </a>

                </div>
            {% endblock %}


            {% block footer %}

                {% include('includes/footer/footer.html.twig') %}

            {% endblock %}

        {% endblock %}



        {% block javascripts %}

            <script src="https://apis.google.com/js/platform.js"></script>


            {#   SCRIPT POUR BURGER BOOSTRAP   #}
            <script>
                $(document).ready(function(){
                    $('#nav-icon0,#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
                        $(this).toggleClass('open');
                    });
                });
            </script>
            {#  FIN SCRIPT POUR BURGER BOOSTRAP   #}


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("audio").on("contextmenu",function(e){
                        return false;
                    });
                });
            </script>






            {#     SCRIPT POUR COOKIE CONSENT     #}

            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

        {% block cookie_js %}
            <script>
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "rgba(0,0,0,0.8)"
                        },
                        "button": {
                            "background": "#30aae4"
                        }
                    },
                    "theme": "edgeless",
                    "position": "bottom-right",
                    "content": {
                        "href": "{{ path('politique-confidentialite') }}"
                    }
                });
            </script>
        {% endblock %}

            {#    FIN SCRIPT POUR COOKIE CONSENT     #}




            {#   SCRIPT SCROLL UP   #}
            <script>
                let divScroll = document.getElementsByClassName('arrow_up');
                let scroll_position = 0;

                $("a[href='#top']").click(function() {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });


                window.addEventListener('scroll', function()
                {
                    scroll_position = window.scrollY;
                    if (scroll_position >= 500){
                        divScroll[0].style.display = 'flex';
                        divScroll[0].style.opacity = 1;
                        divScroll[0].style.bottom = '5vh';
                    } else {
                        divScroll[0].style.opacity = 0;
                        divScroll[0].style.bottom = '-200px';
                    }
                });

            </script>
            {#   FIN DU SCRIPT SCROLL UP   #}


        {% endblock %}
    </body>
</html>
