
{% include 'index.html.twig' %}

        {% block description %}

        {% endblock %}

        <title>{% include('includes/nav_title.html.twig') %} {% block title %}{% trans %}Home{% endtrans %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.1/plyr.css" />
        <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/vinny_logo_circulo_favicon.ec1beae4.png') }}"/>
        <link rel="icon" href="{{ asset('build/images/vinny_logo_circulo_favicon.ec1beae4.png') }}" type="image/png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <script src="https://cdn.plyr.io/3.6.1/plyr.polyfilled.js"></script>

        {% block fonts %}
            <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block css %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>


    <body class="has-background-white-bis">

        {% block body %}

            <div style="z-index: 2;position: sticky;top: 0;">
                {% block header %}

                    <h2 class="titre-landscape title has-text-weight-bold is-uppercase is-family-monospace" style="color: white;text-shadow:rgb(0, 63, 255) 0 0 15px;position: absolute;z-index: 3;left: 50%;transform: translate(-50%);display: none;justify-content: center;align-items: center;">

                        {% block titre_landscape %}

                        {% endblock %}

                    </h2>

                    {% block header_dynamic %}
                        <nav class="navbar navbar-expand-lg navbar-dark has-background-black-bis" style="z-index: 1;">

                            <a id="logo-header-vinny" href="{{ path('home') }}">
                                <img src="{{ asset('build/images/logo_vinny_letra_2.620e7de0.png') }}" alt="logo" title="VinnyVixi" decoding="auto">
                            </a>

                            {% block img_header %}
                                <div class="header-background-image" style="background: center / auto 100% no-repeat url({{ asset('build/images/beats_1.f19e5c84.jpg') }});">
                                    <div class="header-background-layer">
                                    </div>
                                </div>
                            {% endblock %}


                            {% block social_network %}
                                <div class="is-hidden-touch column is-flex flex-column" style="display:flex;position: absolute;right:0;top: 0;height: 100%;width: 20%">

                                    <div class="column is-flex justify-content-end">
                                        {% for locale in locales %}
                                            {% if locale != app.request.locale %}
                                                <a href="{{ path('change_locale', {'locale': locale} ) }}" title="{% trans %}Switch language to french{% endtrans %}">
                                                    <div class="tags has-addons">
                                                        <span class="tag is-link">
                                                            {% trans %}Switch to{% endtrans %}
                                                        </span>
                                                        <span class="tag is-link" style="position: relative">
                                                            <span class="icon">
                                                            {% if app.request.locale == 'fr' %}
                                                                <img height="100" width="100" src="{{ asset('build/images/united-kingdom.386cc387.svg') }}" alt="{{ app.request.locale }}">
                                                            {% elseif app.request.locale == 'en' %}
                                                                <img height="100" width="100" src="{{ asset('build/images/france.78126112.svg') }}" alt="{{ app.request.locale }}">
                                                            {% endif %}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="column is-flex justify-content-around">
                                        <a  target="_blank"href="https://www.twitter.com/VinnyVixi" class="has-text-link">
                                        <span class="icon is-medium">
                                            <i  class="fab fa-twitter fa-lg"></i>
                                        </span>
                                        </a>

                                        <a  target="_blank"href="https://www.instagram.com/vinnyvixi" class="has-text-link">
                                        <span class="icon is-medium">
                                            <i  class="fab fa-instagram fa-lg"></i>
                                        </span>
                                        </a>

                                        <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link">
                                        <span class="icon is-medium">
                                            <i  class="fab fa-youtube fa-lg"></i>
                                        </span>
                                        </a>

                                        <a  target="_blank"href="https://www.soundcloud.com/vinnyvixi" class="has-text-link">
                                        <span class="icon is-medium">
                                            <i  class="fab fa-soundcloud fa-lg"></i>
                                        </span>
                                        </a>

                                        <a  target="_blank"href="https://www.beatstars.com/vinnyvixi/feed" class="has-text-link beatstars">
                                        <span>
                                            <img width="23" src="{{ asset('build/images/beatstars-logo-b.5cbb6d76.png') }}" alt="beatstars">
                                        </span>
                                        </a>
                                    </div>

                                </div>
                            {% endblock %}



                            <button id="nav-icon3" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                                    style="border: none;outline: none;margin: 0;">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>


                            <div class="collapse navbar-collapse has-text-centered" id="navbarNav">
                                <ul class="navbar-nav is-size-4-touch mr-auto" style="position: relative;z-index: 1;padding: 3rem 0">

                                    <li class="nav-item">
                                        <a href="{{ path('home') }}" class="nav-link" title="{% trans %}Beats by Vinny{% endtrans %}" id="navLinkHome">
                                            {% trans %}Beats{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('videos') }}" class="nav-link" title="Videos" id="navLinkVideos">
                                            {% trans %}Videos{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('licenses') }}" class="nav-link" title="Licenses" id="navLinkLicenses">
                                            {% trans %}Licenses{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('about') }}" class="nav-link" title="About Vinny" id="navLinkAbout">
                                            {% trans %}About{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('contact') }}" class="nav-link" title="Contact Vinny" id="navLinkContact">
                                            {% trans %}Contact{% endtrans %}
                                        </a>
                                    </li>

                                    {% block navbarend %}

                                        {% if is_granted('ROLE_USER') %}

                                            <li class="nav-item">
                                                <a href="{{ path('easyadmin') }}" class="nav-link" id="dashboard" style="text-shadow: none">
                                                    {% trans %}Dashboard{% endtrans %}
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="{{ path('admin_app_logout') }}" class="nav-link" id="deco" style="text-shadow: none">
                                                    {% trans %}Log out{% endtrans %}
                                                </a>
                                            </li>

                                        {% endif %}

                                    {% endblock %}

                                </ul>

                                    <div class="column is-flex justify-content-center is-hidden-desktop">
                                        {% for locale in locales %}
                                            {% if locale != app.request.locale %}
                                                <a href="{{ path('change_locale', {'locale': locale} ) }}" title="{% trans %}Switch language to french{% endtrans %}">
                                                    <div class="tags has-addons">
                                                        <div class="tag is-link">
                                                            {% trans %}Switch to{% endtrans %}
                                                        </div>
                                                        <div class="tag is-link" style="position: relative">
                                                            <span class="icon">
                                                            {% if app.request.locale == 'fr' %}
                                                                <img height="100" width="100" src="{{ asset('build/images/united-kingdom.386cc387.svg') }}" alt="{{ app.request.locale }}">
                                                            {% elseif app.request.locale == 'en' %}
                                                                <img height="100" width="100" src="{{ asset('build/images/france.78126112.svg') }}" alt="{{ app.request.locale }}">
                                                            {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                            </div>




                        </nav>
                    {% endblock %}

                        <section class="titre-wave" style="z-index:1;background:#121212;width: 100%">
                            <div class="has-text-centered" style="position: relative;box-shadow: rgb(0, 0, 0) 0 0 5px 2px;">

                                    <h1 class="title has-text-weight-bold is-uppercase is-family-monospace is-hidden-touch" style="color: white;text-shadow:rgb(0, 40, 255) 0 0 15px;margin:0;position: relative;z-index: 3">

                                        {% block titre %}

                                        {% endblock %}

                                    </h1>

                                {% block visualizer %}
                                {% endblock %}

                            </div>

                        </section>

                    {% block audiocontrol %}



                    {% endblock %}


                    {% block filtre %}
                    {% endblock %}

                {% endblock %}
            </div>


            {% block video_lightbox %}

            {% endblock %}



            <div class="is-hidden-touch" style="position:fixed;top:0;width: 100%;min-height: 100vh;{% block section_bg %}background:center / cover no-repeat url('{{ asset('build/images/beats_2_edited_resized.79448915.jpg')}}'){% endblock %}">
                <div class="layer" style="height: 100vh;width: 100vw; background: rgba(0,0,10,0.5);">

                </div>
            </div>

            <div class="is-hidden-desktop" style="position:fixed;top:0;width: 100vw;min-height: 100vh;background:center / cover no-repeat url('{{ asset('build/images/phone_bg.143e8bce.svg')}}')">
                <div class="layer" style="height: 100vh;width: 100vw; background: rgba(0,0,10,0.5);">

                </div>
            </div>






                <section class="is-flex justify-content-center" style="min-height: 70vh;position:relative;margin-bottom: 100px">

                    <div class="column is-full-touch is-four-fifths" style="position: relative">

                    {% block entete %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                    </div>

                </section>


            {% block arrow_up %}
                <div class="arrow_up">

                    <a href="#top" class="is-flex align-items-center justify-content-center" style="width: 100%;height: 100%;">
                    <span class="icon justify-content-center align-items-center is-size-4">
                        <i class="fas fa-angle-up" style="color: rgba(255, 255, 255, 0.3);"></i>
                    </span>
                    </a>

                </div>
            {% endblock %}


            {% block footer %}

                {% include('includes/footer/footer.html.twig') %}

            {% endblock %}

        {% endblock %}



        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            <script src="https://apis.google.com/js/platform.js"></script>

            {#     SCRIPT POUR RECAPTCHA GOOGLE     #}
            <script src="https://www.google.com/recaptcha/api.js"></script>


            {#   SCRIPT POUR BURGER BOOSTRAP   #}
            <script>
                $(document).ready(function(){
                    $('#nav-icon0,#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
                        $(this).toggleClass('open');
                    });
                });
            </script>
            {#  FIN SCRIPT POUR BURGER BOOSTRAP   #}


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("audio").on("contextmenu",function(e){
                        return false;
                    });
                });
            </script>






            {#     SCRIPT POUR COOKIE CONSENT     #}

            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

        {% block cookie_js %}
            <script>
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "rgba(0,0,0,0.8)"
                        },
                        "button": {
                            "background": "#30aae4"
                        }
                    },
                    "theme": "edgeless",
                    "position": "bottom-right",
                    "content": {
                        "href": "{{ path('politique-confidentialite') }}"
                    }
                });
            </script>
        {% endblock %}

            {#    FIN SCRIPT POUR COOKIE CONSENT     #}




            {#   SCRIPT SCROLL UP   #}
            <script>
                let divScroll = document.getElementsByClassName('arrow_up');
                let scroll_position = 0;

                $("a[href='#top']").click(function() {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });


                window.addEventListener('scroll', function()
                {
                    scroll_position = window.scrollY;
                    if (scroll_position >= 500){
                        divScroll[0].style.display = 'flex';
                        divScroll[0].style.opacity = 1;
                        divScroll[0].style.bottom = '5vh';
                    } else {
                        divScroll[0].style.opacity = 0;
                        divScroll[0].style.bottom = '-200px';
                    }
                });

            </script>
            {#   FIN DU SCRIPT SCROLL UP   #}


        {% endblock %}
    </body>
</html>
