<footer class="footer has-background-black has-text-white" style="position: relative;bottom:0 ;width: 100%;box-shadow: rgb(0, 0, 0) 0 0 5px 2px;">

    <div class="content has-text-centered columns block-footer">

        <div class="column footer-grid">

            <span class="footer-column-left" style="margin: 0 10px">
                <a target="_blank" href="https://www.twitter.com/VinnyVixi" class="has-text-link is-hidden-touch">
                    <span class="icon">
                        <i  class="fab fa-twitter"></i>
                    </span>Twitter
                </a>
                <a  target="_blank"href="https://www.twitter.com/VinnyVixi" class="has-text-link is-hidden-desktop is-size-4-touch">
                    <span class="icon">
                        <i  class="fab fa-twitter"></i>
                    </span>
                </a>
            </span>

            <span class="footer-column-left" style="margin: 0 10px">
                <a  target="_blank"href="https://www.instagram.com/vinnyvixi" class="has-text-link is-hidden-touch">
                    <span class="icon">
                        <i  class="fab fa-instagram"></i>
                    </span>Instagram
                </a>
                <a  target="_blank"href="https://www.instagram.com/vinnyvixi" class="has-text-link is-hidden-desktop is-size-4-touch">
                    <span class="icon">
                        <i  class="fab fa-instagram"></i>
                    </span>
                </a>
            </span>

            <span class="footer-column-left" style="margin: 0 10px">
                <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link is-hidden-touch">
                    <span class="icon">
                        <i  class="fab fa-youtube"></i>
                    </span>Youtube
                </a>
                <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link is-hidden-desktop is-size-4-touch">
                    <span class="icon">
                        <i  class="fab fa-youtube"></i>
                    </span>
                </a>
            </span>

            <span class="footer-column-left" style="margin: 0 10px">
                <a  target="_blank"href="https://www.soundcloud.com/vinnyvixi" class="has-text-link is-hidden-touch">
                    <span class="icon">
                        <i  class="fab fa-soundcloud"></i>
                    </span>Soundcloud
                </a>
                <a  target="_blank"href="https://www.soundcloud.com/vinnyvixi" class="has-text-link is-hidden-desktop is-size-4-touch">
                    <span class="icon">
                        <i  class="fab fa-soundcloud"></i>
                    </span>
                </a>
            </span>

            <span class="footer-column-left" style="margin: 0 10px">

                <a  target="_blank"href="https://www.beatstars.com/vinnyvixi/feed" class="has-text-link is-hidden-touch">
                    <span>
                        {#<i  class="fas fa-star"></i>#}
                        <img width="20" src="{{ asset('build/images/beatstars-logo-b.5cbb6d76.png') }}" alt="beatstars">
                    </span>Beatstars
                </a>

                <a  target="_blank"href="https://www.beatstars.com/vinnyvixi/feed" class="has-text-link is-hidden-desktop is-size-4-touch">
                    <span>
                        {#<i  class="fas fa-star"></i>#}
                        <img width="35" src="{{ asset('build/images/beatstars-logo-b.5cbb6d76.png') }}" alt="beatstars">
                    </span>
                </a>

            </span>

        </div>

        <div class="column footer-grid" style="">


            <a class="button is-small is-outlined is-link" style="margin: 0 1rem" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Yoobsound%40gmail.com&currency_code=EUR&source=url" >
                <p class="has-text-centered" style="margin: 0">{% trans %}Support my works{% endtrans %}</p>
                <span class="icon is-normal"></span>
                <i class="fab fa-paypal fa-lg"></i>
            </a>

        </div>

        <div class="column footer-grid">

            {% if app.request.locale == 'en' %}
                <span class="footer-clumn-right">
                    <a href="{{ path('conditions-generales') }}" class="has-text-link" style="margin: auto;padding: 0 .75rem">
                        {% trans %}Terms & Conditions{% endtrans %}
                    </a>
                </span>
            {% endif %}

            <span class="footer-clumn-right">
                <a href="{{ path('politique-confidentialite') }}" class="has-text-link" style="margin: auto;padding: 0 .75rem">
                    {% trans %}Privacy Policy{% endtrans %}
                </a>
            </span>

            <span class="footer-column-right">
                <a href="{{ path('mentions-legales') }}" class="has-text-link" style="margin: auto;padding: 0 .75rem">
                    {% trans %}Disclaimer{% endtrans %}
                </a>
            </span>

        </div>



    </div>

    <hr style="background: rgba(255,255,255,0.1);height: 1px;width: 100%;margin:auto;">

    <div class="column has-text-centered ">
        <span class="has-text-dark">
            © 2020 | www.vinnyvixi.com | {% trans %}Property of the producer Vinnyvixi, All rights reserved{% endtrans %}.
        </span>
    </div>


</footer>
