{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Beats{% endblock %}

{% block description %}
    <meta name="description" content="Welcome to vinnyvixi.com, the personal website of the Beat Maker Vinny Vixi. These latest productions, Beats, Video clips, and much more. Bienvenue sur vinnyvixi.com, le site personnel du Beat Maker Vinny Vixi. Ces dernières Prods, Beats, Clip vidéos, et d'autre de contenue.">
{% endblock %}


{% block titre_landscape %}
    Beats
{% endblock %}

{% block titre %}
    Beats

{#        <button type="button" id="arrow-deploy-player" class="btn-primary is-size-3" style="background: rgba(0,0,0,0);box-shadow: none;border: none;position: absolute;right: 14px;cursor: pointer;outline: none;">#}
{#            <i class="fas fa-sort-down" title="Extend player" style="color: white;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>#}
{#        </button>#}

{% endblock %}

{% block visualizer %}
        <canvas id="canvas"></canvas>
{% endblock %}

{% block audiocontrol %}

        {% block player %}
            {% include 'includes/player.html.twig' %}
        {% endblock %}

{% endblock %}

{% block filtre %}
    <div class="columns is-flex align-items-center has-background-black-bis div-filtre" style="margin: 0;z-index: 1;width: 100%;box-shadow: rgb(0, 0, 0) 0px 0px 15px;position: sticky">
        <label class="is-flex align-items-center" for="genres" style="margin: auto 0;">
            <div class="column">
                <strong class="has-text-white is-size-5 is-size-3-touch landscape" style="white-space: nowrap">Genres :</strong>
            </div>
        </label>

        <div id="myBtnContainer" class="buttons are-small column is-flex" style="margin: auto 0;padding: 0">

            <div class="column is-flex align-items-center justify-content-center">
                <button class="button is-small active is-light is-outlined is-family-sans-serif font-weight-bold is-size-5-touch" style="margin: auto 0;padding: 2px auto;" type="submit" onclick="filterSelection('all')"> ALL</button>
            </div>

            {% for filtre in filtre %}

                <div class="column is-flex align-items-center justify-content-center">

                    <button class="button is-small is-light is-outlined is-family-sans-serif font-weight-bold is-size-5-touch" value="{{ filtre.genre }}" style="margin: auto 0;padding: 2px auto;" type="submit"  onclick="filterSelection('{{ filtre.genre }}')">
                        {{ filtre.genre }}
                    </button>

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary is-size-3-touch has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(26,26,26,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        Welcome to the beatmaker Vinnyvixi's website
    </h2>
{% endblock %}

{% block content %}

    <div class="column">



        {% include 'includes/flash_message.html.twig' %}

        {% if form_errors(form) != null %}
            <div class="form-error notification is-danger is-flex justify-content-center align-items-center column has-text-weight-bold is-size-3-touch has-text-black">
                <button class="delete is-large" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="field has-addons pagination-control">

            {{ form_start(form) }}
            <div class="field has-addons bpmSearch" style="justify-content: center">
                <p class="control">
                    <a class="button is-static pagination-control-touch">
                        BPM
                    </a>
                </p>

                <div class="control">
                    {{ form_row(form.beatBpmMin) }}
                </div>

                <div class="control">
                    {{ form_row(form.beatBpmMax) }}
                </div>

                <div class="control">
                    <button class="button is-link pagination-control-touch" type="submit">
                        Search
                    </button>
                </div>

            </div>
            {{  form_end(form) }}

        </div>



        <div class="column has-text-centered box" style="background: rgba(23,162,176,0.7);box-shadow: rgb(0, 0, 0) 0px 0px 15px;">

            {% include 'beats/original_beats.html.twig' with {beat: beat} %}

        </div>

    </div>

    {% include 'lightbox/license_lightbox.html.twig' %}



    <script>
        let navLinkHome = document.getElementById('navLinkHome');
        navLinkHome.classList.add("navlink-active");
    </script>


    {#      SCRIPT POUR FILTRE BEATS      #}

    <script>
        filterSelection("all");
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c === "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current control button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("button");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

    {#      FIN SCRIPT POUR FILTRE BEATS      #}


    {#   SCRIPT PLYR   #}
    <script>
        var players = Plyr.setup('.js-plyr', {
            "controls":['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions','pip', 'airplay', 'fullscreen']
        });

        {#   AUTOPAUSE   #}
        var i = 1;


        players.forEach(function (instance) {
            instance.on('ready', function (event) {
                instance.elements.container.setAttribute('id', 'plyId-' + i);
                instance.plyId = 'plyr-' + i;
                let lenght = players.length;
                var j = i+1;
                if (j > lenght){
                    j = 1;
                }
                let nextId = 'plyId-' + j;
                i++;
                instance.on('ended', function (event) {
                    console.log(nextId);
                    let nextBeat = document.getElementById(nextId);
                    console.log(nextBeat.children[1]);
                    nextBeat.children[1].play();
                });
            });
            instance.on('play', function (event) {
                var currentPid = instance.plyId;
                players.forEach(function (instance) {
                    if (currentPid != instance.plyId) {
                        instance.pause();
                    }
                });
            });

        });

        {#  FIN AUTOPAUSE   #}

    </script>
    {#  FIN SCRIPT PLYR   #}






    {#   SCRIPT POUR LIGHTBOX MODAL   #}
    <script>
        $(".showModal").click(function() {
            // $(".modal").addClass("is-active");
            $(".modal").css("height","100%");
        });

        $(".modal-close").click(function() {
            // $(".modal").removeClass("is-active");
            $(".modal").css("height","0");
        });

        $(".modal-background").click(function() {
            // $(".modal").removeClass("is-active");
            $(".modal").css("height","0");
        });

    </script>
    {#  FIN SCRIPT POUR LIGHTBOX MODAL   #}



    {#  FIN SCRIPT POUR PLAYER AUDIO HEADER   #}
    <script>

        let sectionPlayer = document.getElementById("player_old");
        let deployStatus = false ;
        let arrowDeploy = document.getElementById('arrow-deploy-player');
        let crossHide = document.getElementById('cross-hide-player');


        arrowDeploy.addEventListener('click', function () {
            if (deployStatus === false) {
                deployPlayerOn();
            }else if (deployStatus === true){
                deployPlayerOff();
            }
        });


        crossHide.addEventListener('click', function () {
            console.log(deployStatus);
            if (deployStatus === false) {
                deployPlayerOn();
            }else if(deployStatus === true){
                deployPlayerOff();
            }
        });


        function deployPlayerOn(){
            arrowDeploy.style.display = "none";
            sectionPlayer.style.display = "flex";
            deployStatus = true;
            setTimeout(function () {
                sectionPlayer.style.opacity = "1";
                sectionPlayer.style.height = "50px";
            }, 0);

        }

        function deployPlayerOff(){
            arrowDeploy.style.display = "inline";
            sectionPlayer.style.opacity = "0";
            sectionPlayer.style.height = "0px";
            sectionPlayer.style.display = "none";
            deployStatus = false;
        }

    </script>
    {#  FIN SCRIPT POUR PLAYER AUDIO HEADER   #}

{% endblock %}




