<label class="label column is-centered has-background-black-bis" style="position: relative" >

    <div style="opacity:.1;height: 100%;width: 100%;z-index:0;position:absolute;top: 0;left:0;background: center / contain repeat url({{ asset('build/images/sound_w.8743b84b.svg') }})"></div>

    <h2 class="columns has-text-white" style=" z-index: 1;justify-content: center">

        <p class=" has-icons-left is-family-code is-size-3" style="padding: 10px; margin-bottom: 0;">

            <span class="icon is-small text-info" style="margin:0 7px">
                <i class="fas fa-headphones"></i>
            </span>

            ORIGINAL <strong class="has-text-white">BEATS</strong>

        </p>

    </h2>

</label>


{% for beat in beat %}
    {% set i = ( i | default(0) ) + 1 %}

{% if beat.iframe is null %}

    <div class="filterDiv {{ beat.genre }}" style="margin-bottom: 10px;position: relative">

        <div class="column is-hidden-desktop"  style="padding: 0; position: absolute;width: 100%;height: 100%;background:center / 250px 250px no-repeat
                {% if beat.beatimagename %}url({{ vich_uploader_asset(beat, 'beatImage') | imagine_filter('normal_size') }})
                {% else %}url({{ asset('build/images/logo_vinny_letra_2.620e7de0.png') }})
                {% endif %};">
            <div style="background: rgba(0,0,0,0.6);height: 100%;width: 100%">
            </div>
        </div>

        <div class="column" style="position: relative">

            <div class="columns has-text-centered align-items-center is-size-4-touch landscape" style="background: rgba(26,26,26,.8);">

                <div class="is-hidden-touch">
                    <div class="column is-flex is-centered is-vcentered justify-content-center align-items-center">
                        {% if beat.beatimagename %}
                            <img height="110px" width="110px" src="{{ vich_uploader_asset(beat, 'beatImage') | imagine_filter('normal_size') }}" alt="Illustration" style="border-radius:3px;box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1); background: rgba(255,255,255,0.1)">
                        {% else %}
                            <img height="110px" width="110px" src="{{ asset('build/images/logo_vinny_letra_2.620e7de0.png') }}" alt="Illustration" style="height: 110px;width: 100px;border-radius:3px;box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1); background: rgba(255,255,255,0.1)">
                        {% endif %}
                    </div>
                </div>

                    <div class="column landscape-padding">

                        <div class="columns is-centered is-vcentered has-text-centered is-size-4-mobile" style=" color: white;margin: 0;padding:0;height:50%">

                            <div class="column" id="track-title{{ i }}">
                                <label for="titre" style="margin: auto"><strong class="has-text-white">Title : </strong></label>
                                {% if beat.titre %}
                                    {{ beat.titre }}
                                {% else %}
                                    N/C
                                {% endif %}
                            </div>

                            <div class="column">
                                <label for="artiste" style="margin: auto"><strong class="has-text-white">Prod. by : </strong></label>
                                {% if beat.artiste %}
                                    {{ beat.artiste }}
                                {% else %}
                                    Vinny Vixi
                                {% endif %}
                            </div>

                            <div class="column">
                                <label for="bpm" style="margin: auto"><strong class="has-text-white">BPM : </strong></label>
                                {% if beat.bpm %}
                                    {{ beat.bpm }}
                                {% else %}
                                    N/C
                                {% endif %}
                            </div>

                            <div class="column">
                                <label for="genre" style="margin: auto"><strong class="has-text-white">Genre : </strong></label>
                                {% if beat.genre %}
                                    {{ beat.genre }}
                                {% else %}
                                    N/C
                                {% endif %}
                            </div>

                            {% if date(beat.updatedat) > date('-15days') %}
                                <span id="newAnimation" class="tag has-text-black-bis has-text-weight-bold is-hidden-touch">New!</span>
                                <span id="newAnimationTouch" class="tag has-text-black-bis has-text-weight-bold is-hidden-desktop">New!</span>
                            {% endif %}

                            <div class="is-flex is-centered is-vcentered justify-content-center">

                                <button type="button" class="btn btn-primary showModal" data-toggle="modal" data-target=".bd-example-modal-lg" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                                    <i class="fas fa-comment-dollar is-size-3 is-size-2-touch" title="Licenses" style="color: white;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
                                </button>

                            </div>

                        </div>

                            <audio controls controlsList="nodownload" preload="metadata" id="audio-{{ i }}" class="js-plyr beatFormBeatList columns is-centered align-items-end has-text-centered"
                                   style="width: 100%;
                                   height: 50%;
                                   --plyr-color-main:rgba(0,0,0,0);
                                   --plyr-audio-controls-background:rgba(0,0,0,0);
                                   --plyr-range-thumb-background:rgb(255,255,255);
                                   --plyr-audio-range-thumb-active-shadow-color:rgba(48,170,228,0.4);
                                   --plyr-range-fill-background:rgba(48,170,228,1);
                                   --plyr-audio-control-color:white;
                                   --plyr-audio-control-color-hover:rgba(48,170,228,1);
                                   --plyr-line-height:1;
                                ">

                                <source class="audio" src="{{ vich_uploader_asset(beat, 'beatFile') }}" type="audio/mp3" />
                                <source class="audio" src="{{ vich_uploader_asset(beat, 'beatFile') }}" type="audio/ogg" />
                            </audio>

{#                        <div class="is-flex justify-content-center align-items-center is-hidden-touch" style="position: absolute;right: 0;bottom: 0">#}

{#                            <a href="https://vinnyvixi.com/beats"#}
{#                               class="twitter-share-button"#}
{#                               data-size="small"#}
{#                               data-lang="en"#}
{#                               data-text="Check the beat '{{ beat.titre }}' on "#}
{#                               data-hashtags="Beats,Rap,Drill,Grime,Vinnyvixi,Beatmaker "#}
{#                            >#}
{#                               Tweet this beat !#}
{#                            </a>#}

{#                        </div>#}

{#                        <div class="is-flex justify-content-center align-items-center is-hidden-desktop" style="position: absolute;right: 0;bottom: 0">#}

{#                            <a href="https://vinnyvixi.com/beats"#}
{#                               class="twitter-share-button"#}
{#                               data-size="large"#}
{#                               data-lang="en"#}
{#                               data-text="Check the beat '{{ beat.titre }}' on "#}
{#                               data-hashtags="Beats,Rap,Drill,Grime,Vinnyvixi, Beat-maker "#}
{#                            >#}
{#                                Tweet this beat !#}
{#                            </a>#}

{#                        </div>#}

                    </div>

{#                    <div class="column is-2 is-flex justify-content-center">#}

{#                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="width: -moz-available;display: flex;flex-direction: column;justify-content: space-evenly;align-items: center">#}
{#                            <input type="hidden" name="cmd" value="_s-xclick">#}
{#                                <div class="has-text-centered has-text-link has-text-weight-bold"><input type="hidden" name="on0" value="{{ beat.titre }}">License</div>#}

{#                                <div class="select is-small">#}
{#                                    <select name="os0">#}
{#                                        <option value="BASIC">BASIC $15,00 USD</option>#}
{#                                        <option value="PRENIUM">PRENIUM $30,00 USD</option>#}
{#                                        <option value="STEMS">STEMS $100,00 USD</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHyQYJKoZIhvcNAQcEoIIHujCCB7YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC4vhDu+1fVkydwVGEcRIreTqjHjHL8HdAAmYvQDXy//8DvJ4jRgPdWWIy6cXcBQXdcKD/j/I9G0KvKrUG+iykzBt21TTAFviEnuhXw4u1L+Uw5iIBxchOmoNH+fyjjpFY80l9mmxBZUhtVpOQSFARETqSUSORLyR53tobJ/kMHNjELMAkGBSsOAwIaBQAwggFFBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECDN66SNWrWVZgIIBIIWxbQ1l/cf0tm9FZ1bKTkI3o0FxOXjNk8SrJpnYkOjsqWYBk7SmH1gF9phBu5+Z0hrbrKqnC+osWCfd/DfWZoHWxr1Y3x6wQcQ9hJ1SLkX0GuTSbxuEJiIt/5W7EIo9Ughgx4xPZen+WDCs/Ws+tgzlaWH3X45e+6VJSnF6PO1fp1GEqZg+/SbpT2z16e8d1QPDMtQqGe8jKCHWJADBbxuFH0HWTCBhWlb5Kv0kXf7eiXtQsEddTgXAHAusIHNFP1uHMsp4dYRQGTED1dWoEjssg0ZQJPYxRCKOjGBK3IWJBO+XyMQuMH13+Dwc4QBFvUQCPuwOVB6qWJveXEadsvS9vft6etIk/O5+MUgnz4BwhoO6QayqwLBGZVE/GBmxr6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIwMDkxMzExMjc0NFowIwYJKoZIhvcNAQkEMRYEFIpCBy4r6eKCRkHKVKBhgchSJ/FnMA0GCSqGSIb3DQEBAQUABIGAhghadBlN7J/+Ss7BSXep8wa8KJlgdCJXPRi4amIGLA+KxGqBSN4Wf2r+IEgnfEjkORI+OqsN3tfr/qpXS+G4xVyeofsQCh/0+Q/RwyVc+6n/BsdxTVQbFeaeek4qPjjOTtFRizk3W5bV115XPzTGma4ea7wcV6D0zRwrKfP6CYk=-----END PKCS7-----">#}
{#                            <input style="padding: .5rem" type="image" width="50rem" src="{{ asset('build/images/coin_link.6f3b1bf7.svg') }}" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">#}
{#                            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">#}
{#                        </form>#}

{#                    </div>#}

            </div>

        </div>

    </div>


{% endif %}

    {#  SCRIPT POUR PLAYER AUDIO HEADER   #}
    <script>

        let audio{{ i }} = document.getElementById("audio-{{ i }}");
        let trackTitle{{ i }} = document.getElementById("track-title{{ i }}");
        let trackTitlePlayer{{ i }} = document.querySelector("#track-title");
        let barTime{{ i }} = document.querySelector("#timeLine");
        let barCurrentTime{{ i }} = document.querySelector("#currentTime");
        let cursor{{ i }} = document.querySelector("#cursor");
        let currentTrackTime{{ i }} = document.querySelector("#current-time");
        let trackTime{{ i }} = document.querySelector("#track-time");
        let canvas{{ i }} = document.getElementById("canvas");


        audio{{ i }}.addEventListener('play', function () {
            trackTitlePlayer{{ i }}.innerHTML = trackTitle{{ i }}.innerText;
            barProgessTime(audio{{ i }});
            // deployPlayerOn();
            visualizerCanvas(audio{{ i }});
            canvas{{ i }}.style.display = "initial"
        });

        {#audio{{ i }}.addEventListener('pause', function () {#}
        {#    canvas{{ i }}.style.display = "none"#}
        {#});#}




        //////////////////////////////////////////////////////////////////////////
        ///////////////         BARE DE TEMPS PLAYER          ////////////////////
        //////////////////////////////////////////////////////////////////////////
        function barProgessTime(audio)
        {

            audio.addEventListener('timeupdate', (event) =>
            {
                // console.log(audio.currentTime.toString());
                {#currentTrackTime{{ i }}.innerHTML = audio.currentTime.toString();#}
                {#trackTime{{ i }}.innerHTML = audio.duration.toString();#}
                barCurrentTime{{ i }}.style.width = audio.currentTime / (audio.duration / 100) + "%";
                cursor.style.left = audio.currentTime / (audio.duration / 100) + "%";
            });
        }
        //////////////////////////////////////////////////////////////////////////
        //////////////////////////         FIN          //////////////////////////
        //////////////////////////////////////////////////////////////////////////





        //////////////////////////////////////////////////////////////////////////
        ///////////////         CANVAS VUSIAL          ///////////////////////////
        //////////////////////////////////////////////////////////////////////////
        function visualizerCanvas(audio) {
                var context = new AudioContext();
                var src = context.createMediaElementSource(audio);
                var analyser = context.createAnalyser();
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight * 0.3 ;
                var ctx = canvas.getContext("2d");

                src.connect(analyser);
                analyser.connect(context.destination);

                analyser.fftSize = 512;

                var bufferLength = analyser.frequencyBinCount;

                var dataArray = new Uint8Array(bufferLength);

                var WIDTH = canvas.width;
                var HEIGHT = canvas.height;

                var barWidth = (WIDTH / bufferLength) * 2.5;
                var barHeight;
                var x = 0;

                function renderFrame() {
                    requestAnimationFrame(renderFrame);

                    x = 0;

                    analyser.getByteFrequencyData(dataArray);

                    ctx.fillStyle = "#121212";
                    ctx.strokeStyle = "rgba(0,0,0,1)";
                    ctx.globalAlpha = 1;
                    ctx.lineCap = 'round';
                    ctx.fillRect(0, 0, WIDTH, HEIGHT);

                    for (var i = 0; i < bufferLength; i++) {
                        barHeight = dataArray[i];

                        var r = 0;
                        var g = barHeight;
                        var b = 255;

                        ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                        ctx.lineCap = 'round';
                        ctx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

                        x += barWidth + 1;
                    }
                }

                renderFrame();

        }
        //////////////////////////////////////////////////////////////////////////
        ///////////////        FIN CANVAS VUSIAL          ////////////////////////
        //////////////////////////////////////////////////////////////////////////






    </script>
    {#  FIN SCRIPT POUR PLAYER AUDIO HEADER   #}

{% endfor %}














