{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Licences{% endblock %}

{% block titre %}
    Licences
{% endblock %}

{% block content %}

    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                Section <strong class="has-text-link">Licences</strong>
            </h2>

            <article>
                <h3>H3 Article</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque blanditiis dolores doloribus dolorum eius eveniet magni nesciunt omnis! Cumque dolore fugiat harum illo, magni maxime odio omnis soluta voluptatem.</p>
            </article>


            <div class="pricing-table">

                {% for licence in licence %}
                <div class="pricing-plan is-{{ licence.color }}">
                    <div class="plan-header has-background-{{ licence.color }} has-text-white">{{ licence.titre }}</div>
                    <div class="plan-price">

                        {% if licence.dollar and licence.euro %}
                            <span class="plan-price-amount"><span class="plan-price-currency">$</span>{{ licence.dollar }}</span>
                            <span class="is-size-3">/</span>
                            <span class="plan-price-amount"><span class="plan-price-currency">€</span>{{ licence.euro }}</span>
                        {% else %}
                            <span class="plan-price-amount">Tarif à négocier</span>
                        {% endif %}
                    </div>

                    <div class="plan-items">

                        {% if licence.info1 %}
                            <div class="plan-item">{{ licence.info1 }}</div>
                        {% else %}
                            <div class="plan-item">-</div>
                        {% endif %}

                        {% if licence.info2 %}
                            <div class="plan-item">{{ licence.info2 }}</div>
                        {% else %}
                            <div class="plan-item">-</div>
                        {% endif %}

                        {% if licence.info3 %}
                            <div class="plan-item">{{ licence.info3 }}</div>
                        {% else %}
                            <div class="plan-item">-</div>
                        {% endif %}

                        {% if licence.info4 %}
                            <div class="plan-item">{{ licence.info4 }}</div>
                        {% else %}
                            <div class="plan-item">-</div>
                        {% endif %}

                    </div>

                    <div class="plan-footer">
                        <button class="button is-fullwidth has-text-weight-bold has-text-white">Choisir</button>
                    </div>
                </div>
                {% endfor %}


            </div>


        </div>
    </section>


{% endblock %}
