{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Licenses{% endblock %}

{% block description %}
    <meta name="description" content="Here you will find each license terms to use Beat Maker productions. Vous trouverez ici chaque modalités des licences pour exploiter les productions du Beat Maker.">
{% endblock %}

{% block titre_landscape %}
    Licenses
{% endblock %}

{% block titre %}
    Licenses
{% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary is-size-3-touch has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(26,26,26,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        Want to get a beat? here are my offers
    </h2>
{% endblock %}

{% block content %}

            <div class="pricing-table columns">

                {% for licence in licence %}
                    <div class="pricing-plan is-{{ licence.color }} is-full-touch is-1 column" style="padding: 0;border:none;border-radius: 0px">
                        <div class="plan-header has-background-{{ licence.color }} has-text-white text-uppercase is-size-3-touch" style="border-radius: 0px;position: relative">
                            <div style="opacity:.3;height: 100%;width: 100%;z-index:0;position:absolute;left:0;background: center / cover no-repeat url({{ asset('build/images/skyline_w.acbadcba.svg') }})"></div>
                            {{ licence.titre }}
                        </div>

                        <div class="plan-price">

                            {% if licence.dollar or licence.euro %}
                                <span class="plan-price-amount is-family-code is-size-3-desktop"><span class="plan-price-currency is-family-code has-text-{{ licence.color }}" style="font-size: 2rem !important;">$</span>{{ licence.dollar }}</span>
                            {% else %}
                                <span class="plan-price-amount is-size-3">~</span>
                            {% endif %}
                        </div>

                        <div class="plan-items is-size-5 is-size-3-touch" style="display: grid;height: 100%;">

                            {% if licence.info1 %}
                                <div class="plan-item">{{ licence.info1 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info2 %}
                                <div class="plan-item">{{ licence.info2 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info3 %}
                                <div class="plan-item">{{ licence.info3 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info4 %}
                                <div class="plan-item">{{ licence.info4 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info5 %}
                                <div class="plan-item">{{ licence.info5 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info6 %}
                                <div class="plan-item">{{ licence.info6 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                        </div>

                        <div class="plan-footer">
                            <a title="Contact Vinnyvixi" href="{{ path('contact') }}" class="button is-fullwidth has-text-weight-bold has-text-white is-size-3-touch" style="border-radius: 0px;">Click for next step</a>
                        </div>
                    </div>
                {% endfor %}


            </div>





{% endblock %}
