{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Licenses{% endblock %}

{% block titre %}
    Licenses
{% endblock %}

{% block content %}


{#            <h2 class="subtitle has-text-centered is-2 is-family-monospace">#}
{#                Licenses information#}
{#            </h2>#}

            <div class="pricing-table columns">

                {% for licence in licence %}
                    <div class="pricing-plan is-{{ licence.color }} is-full-touch is-1 column" style="padding: 0;border:none;border-radius: 0px">
                        <div class="plan-header has-background-{{ licence.color }} has-text-white text-uppercase" style="border-radius: 0px">{{ licence.titre }}</div>
                        <div class="plan-price">

                            {% if licence.dollar or licence.euro %}
                                <span class="plan-price-amount"><span class="plan-price-currency is-family-secondary has-text-grey-light">$</span>{{ licence.dollar }}</span>
{#                                <span class="is-size-3">/</span>#}
{#                                <span class="plan-price-amount"><span class="plan-price-currency">€</span>{{ licence.euro }}</span>#}
                            {% else %}
                                <span class="plan-price-amount is-size-3">~</span>
                            {% endif %}
                        </div>

                        <div class="plan-items is-size-5">

                            {% if licence.info1 %}
                                <div class="plan-item">{{ licence.info1 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info2 %}
                                <div class="plan-item">{{ licence.info2 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info3 %}
                                <div class="plan-item">{{ licence.info3 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info4 %}
                                <div class="plan-item">{{ licence.info4 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info5 %}
                                <div class="plan-item">{{ licence.info5 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                            {% if licence.info6 %}
                                <div class="plan-item">{{ licence.info6 }}</div>
                            {% else %}
                                <div class="plan-item">-</div>
                            {% endif %}

                        </div>

                        <div class="plan-footer">
                            <a href="{{ path('contact') }}" class="button is-fullwidth has-text-weight-bold has-text-white" style="border-radius: 0px;">Select</a>
                        </div>
                    </div>
                {% endfor %}


            </div>





{% endblock %}
