{% for licence in licence %}
    <div class="pricing-plan is-{{ licence.color }} is-full-touch is-1 column" style="padding: 0;border:none;border-radius: 0;background: none" title="{{ licence.titre }}">
        <div class="plan-header has-background-{{ licence.color }} has-text-black text-uppercase" style="border-radius: 0;position: relative">
            <div style="opacity:.2;height: 100%;width: 100%;z-index:0;position:absolute;left:0;top:0;background: center / cover no-repeat url({{ asset('build/images/skyline_w.acbadcba.svg') }})"></div>
            <div class="has-text-weight-bold " style="z-index: 0;position: relative">
                {{ licence.titrefr }}
            </div>
        </div>

        <div class="plan-price">

            {% if licence.euro %}
                <span class="plan-price-amount is-family-code is-size-3-desktop"><span class="plan-price-currency is-family-code has-text-{{ licence.color }}" style="font-size: 2rem !important;">€</span>{{ licence.euro }}</span>
            {% else %}
                <span class="plan-price-amount is-size-3">~</span>
            {% endif %}

        </div>

        <div class="plan-items " style="display: grid;height: 100%;">

            {% if licence.info1fr %}
                <div class="plan-item">{{ licence.info1fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

            {% if licence.info2fr %}
                <div class="plan-item">{{ licence.info2fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

            {% if licence.info3fr %}
                <div class="plan-item">{{ licence.info3fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

            {% if licence.info4fr %}
                <div class="plan-item">{{ licence.info4fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

            {% if licence.info5fr %}
                <div class="plan-item">{{ licence.info5fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

            {% if licence.info6fr %}
                <div class="plan-item">{{ licence.info6fr }}</div>
            {% else %}
                <div class="plan-item">-</div>
            {% endif %}

        </div>

        <div class="plan-footer">
            <div class="button is-fullwidth has-text-weight-bold has-text-black" title="{% trans %}Redirect to shop{% endtrans %}" style="border-radius: 0;">{% trans %}Shop{% endtrans %}</div>
        </div>
    </div>
{% endfor %}